<header>
    <nav class="navbar">

        <div class="navbarLeft">
            <a href="/"><img src="../public/images/moof-logo-blanco.png" alt="" class="logoheader"></a>
        </div>

        <div class="optionsNavbar">
            <a href="/crearEvento" class="navButton">Crear Evento</a>
            <a href="/features" class="navButton">Features</a>
            <a href="/partners" class="navButton">Partners</a>
            <a href="/miProductora" class="navButton"><%= locals.user.nombre %></a>
            <a href="/logout" class="navButton">LogOut</a>
        </div>

    </nav>
</header>