<header>
    <nav class="navbar">

        <div class="navbarLeft">
            <a href="/"><img src="../public/images/moof-logo-blanco.png" alt="" class="logoheader"></a>
        </div>

        <div>
            <form action="/resultadoBusqueda" method="GET" class="formSearch">
                <input type="search" name="busqueda" value="" class="searchInput" placeholder="Buscar evento...">
            </form>
        </div>

        <div class="optionsNavbar">
            <a href="/crearEvento" class="navButton">Crear Evento</a>
            <a href="/features" class="navButton">Features</a>
            <a href="/partners" class="navButton">Partners</a>
            <a href="/login" class="navButton">Iniciar Sesión</a>
            <a href="/registro" class="navButton">Registrarse</a>
        </div>

    </nav>
</header>