<header class="navbar">
    <nav class="navbar">

        <div class="navbarLeft">
            <a href="/"><img src="../public/images/moof-logo-blanco.png" alt="" class="logoheader"></a>
        </div>

        <div class="dropdown-center">
            <button class="btn btn-secondary dropdown-toggle" id='aaa' type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= locals.user.nombre %>
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/miProductora">Mi Productora</a></li>
              
              <li><a class="dropdown-item" href="/features">Features</a></li>
              <li><a class="dropdown-item" href="/partners">Partners</a></li>
              <li><a class="dropdown-item" href="/crearEvent">Crea Evento</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/logout">Cerrar Sesión</a></li>
              
            </ul>
        </div>

        

    </nav>
</header>