<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moof</title>
    <link rel='stylesheet' href='../public/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body class="bodyCrearEvento">
    <% if (locals.user !=undefined) { %>
        <%- include('./partials/headerLogueado') %>
        <% } else { %>
            <%- include('./partials/header') %>
        <% } %>
        
        <div class="padreCrearEvento">

            <div class="textCrearEvento">
                <h1 class="creaTuEvento">Creá tu </h1> <br>
                <h1 class="creaTuEventoo"> evento</h1>
            </div>

            <form class="registroForm" action= "/crearEvento" method="POST">
                <% if (locals.errors) { %>
                    <p class="mensajee-error"><%= locals.errors.message %></p>
                  <% } %>

                <div class="contenedorRegistro">
                <p class="textoRegistro">Nombre</p>
                <input  type="text" class="input" id="nombre" name="nombre" value="">
                </div>

                <div class="contenedorRegistro">
                <p class="textoRegistro">Capacidad</p>
                <input  type="text" class="input" id="capacidad" name="capacidad" value="">
                </div>
                
                <div class="contenedorRegistro">
                <p class="textoRegistro">Ubicacion</p>
                <input  type="text" class="input" id="ubicacion" name="ubicacion" value="">
                </div>

                <div class="contenedorRegistro">
                <p class="textoRegistro">categoria</p>
                <input  type="text" class="input" id="categoria" name="categoria" value="">
                </div>
    
                <div class="contenedorRegistro">
                <p class="textoRegistro">descripcion</p>
                <input  type="text" class="input" id="descripcion" name="descripcion" value="">
                </div>
                    
                <div class="contenedorRegistro">
                <p class="textoRegistro">venue</p>
                <input  type="text" class="input" id="venue" name="venue" value="">
                </div>

                <div class="contenedorRegistro">
                <p class="textoRegistro">imagen</p>
                <input  type="text" class="input" id="imagen" name="imgaen" value="">
                </div>
                        
                <div class="contenedorRegistro">
                <p class="textoRegistro">video</p>
                <input  type="text" class="input" id="video" name="video" value="">
                </div>
                
                <button type="submit" class="submit">Crear cuenta</button>
              </form>
            

        </div>

</body>
</html>