<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Features</title>
    <link rel='stylesheet' href='/public/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
    <% if (locals.user !=undefined) { %>
        <%- include('./partials/headerLogueado') %>
        <% } else { %>
            <%- include('./partials/header') %>
        <% } %>
    

        <h1>
            Entradas
        </h1>

        <form class="registroForm" action= "/entradas" method="POST">
            <% if (locals.errors) { %>
                <p class="mensajee-error"><%= locals.errors.message %></p>
              <% } %>

            <div class="contenedorRegistro">
            <p class="textoRegistro">Nombre</p>
            <input  type="text" class="input" id="nombre" name="nombre" value="">
            </div>

            <div class="contenedorRegistro">
            <p class="textoRegistro">Descripción</p>
            <input  type="text" class="input" id="descripcion" name="descripcion" value="">
            </div>
            
            <div class="contenedorRegistro">
            <p class="textoRegistro">Precio</p>
            <input  type="text" class="input" id="precio" name="precio" value="">
            </div>

            <div class="contenedorRegistro">
            <p class="textoRegistro">Cantidad</p>
            <input  type="text" class="input" id="cantidad" name="cantidad" value="">
            </div>
            
            <button type="submit" class="submit">Generar entradas</button>
          </form>

    
</body>
</html>