<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOOF</title>
    <link rel='stylesheet' href='../public/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
    <% if (locals.user !=undefined) { %>
        <%- include('./partials/headerLogueado') %>
        <% } else { %>
            <%- include('./partials/header') %>
        <!-- <% } %> -->
            
        <div class="bodyIngreso">
        <main class="mainIngreso">
            <section class="ingresoDiv">
                <div class="ingresaATuCuenta">
                <h1 class="ingresa">Ingresá</h1>
                <h1 class="ingresa">a tu cuenta</h1>
                </div>
                <form action="/login" method="POST" class="ingresoForm">
                    <% if (locals.errors) { %>
                        <p><%= locals.errors.message %></p>
                      <% } %>

                    <div class="contenedorIngreso">
                    <p class="textoIngreso">Email</p>
                    <label  for="email"></label>
                    <input  class='input' type="email" id="email" name="email" value="">
                    </div>
                    
                    <div class="contenedorIngreso">
                    <p class="textoIngreso">Contraseña</p>
                    <label  for="clave"></label>
                    <input  class='input' type="password" id="contrasena" name="contrasena" value="">
                    </div>

                    <article class="rekordame">
                        <label for="rememberMe" class="rekorda">Recordarme</label>
                        <input id="rememberMe" class="input" type="checkbox" name="rememberMe" value="">
                    </article>
                    

                    <button class='submit' type="submit">Enviar</button>

                    <p class="recorda">Recorda que no es necesario ingresar a una cuenta para comprar tus tickets!</p>
                    <p class="yaTenes">No tenes cuenta aún? <a href="/registro" class="linkkk">Creala acá</a></p>
                </form>
            </section>
        </main>
        </div>

</body>
</html>