<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>
    <link rel='stylesheet' href='../public/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
    <% if (locals.user !=undefined) { %>
        <%- include('./partials/headerLogueado') %>
        <% } else { %>
            <%- include('./partials/header') %>
        <!-- <% } %> -->
     
        <main>
            <section class="center main-content">
                <h1>LogIn</h1>
                <form action="/login" method="POST">
                    <% if (locals.errors) { %>
                        <p><%= locals.errors.message %></p>
                      <% } %>
                    <label  for="email"> Email:</label>
                    <input  type="email" id="email" name="email" value="">
                    
                    <label  for="clave"> Clave:</label>
                    <input  type="password" id="contrasena" name="contrasena" value="">
                    
                    <article>
                        <label for="rememberMe">Recordarme</label>
                        <input id="rememberMe" class="input" type="checkbox" name="rememberMe" value=""><br>
                    </article>
                    

                    <button type="submit">Enviar</button>
                </form>
            </section>
        </main>

</body>
</html>