header{
  background-color: rgb(37, 37, 37);
}

body{
  margin:0;
}

.navbarLeft{
  margin-left: 7vh;
}

nav{
  display: flex;
  justify-content: space-between;
  height: 8vh;
  align-items: center;
  box-shadow: 10px;
  width: 100vw;
}

.logoheader{
  max-width: 100px;
  max-height: 50px;
  display: flex;
  margin-left: 10px;
}



.navButton{
  text-decoration: none;
  color: #d7d7d7;
  margin-left: 10px;
  margin-right: 20px;
  font-weight: bold;
  transition: ease-in-out;
}

.navButton:hover{
  color: rgb(255, 255, 255);
}

.textoIndex{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imagencelu{
  margin-bottom: 0;
  height: 40vh;
}

.creaEventoBoton{
  background-color: #e4e4e4;
  margin-top: 3.5vh;
  color: #1e1e1e;
  padding: 1.5vh;
  font-size: large;
  font-weight: 400;
  border-radius: 15px;
}

#subrayado{
  text-decoration-line: underline;
  color: rgb(54, 228, 48);
  font-weight: 500;
  font-size: 6vh;
}

.descripcionIndex{
  color: #ffffff;
  margin-top: 0.25vh;
  margin-bottom: 0.25vh;
  font-weight: 400;
  font-size: large;
}

.botonCreaEvento{
  color: #1e1e1e;
  background-color: #ffffff;
  border-radius: 14px;
}

#optimiza{
  color: #ffffff;
  font-weight: 500;
  font-size: 6vh;
  margin-top: 4vh;
}

#manejo{
  color: #ffffff;
  font-weight: 500;
  font-size: 6vh;
}

.registroDiv{
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.mainRegistro{
  display: flex;
  align-items: start;
  justify-content: center;
  width: 100%;
  margin-top: 3vh;
  margin-left: 2vh;
  margin-right: 2vh;
}

.creaTuCuenta{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 0;
}

.crea{
  font-weight: bold;
  font-size: 300%;
}

.bodyRegistro{
  display: flex;
  align-items: center;
  justify-content: center;
}

.registroForm{
  width: 100%;
}

.textoRegistro{
  margin-bottom: 0;
  font-size: x-large;
}

.contenedorRegistro{
  margin-top: 3vh;
  margin-bottom: 3vh;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.input{
  width: 100%;
  height: 4vh;
  border-radius: 10px;
  border: none;
  background-color: rgb(217, 217, 217);
  font-size: larger;
}

.submit{
  width: 100%;
  height: 5vh;
  font-weight: bold;
  background-color: #3b3b3b;
  color: #ffffff;
  border-radius:10px;
  border: none;
  margin-top: 2vh;
}

.recorda{
  text-align: center;
  margin-top: 2vh;
  width: 100%;
}

.yaTenes{
  text-align: center;
  margin-top: 1vh;
  width: 100%;
}

.linkkk{
  text-decoration: none;
  outline: none;
}

.ingresaATuCuenta{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 0;
}

.ingresa{
  font-weight: bold;
  font-size: 300%;
}

.bodyIngreso{
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainIngreso{
  display: flex;
  align-items: start;
  justify-content: center;
  width: 100%;
  margin-top: 3vh;
  margin-left: 2vh;
  margin-right: 2vh;
}

.ingresoForm{
  width: 40vw;
}

.contenedorIngreso{
  margin-top: 3vh;
  margin-bottom: 3vh;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.textoIngreso{
  margin-bottom: 0;
  font-size: x-large;
}

.ingresoDiv{
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.dropdown-center{
  margin-right: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.btn-secondary{
  border-radius: 20px;
  background-color: #3b3b3b;
}

.rekorda{
  font-size: larger;
}

.rekordame{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

#rememberMe{
    width: 25px;
    height: 25px;
    margin-left: 2vh;
}

.dosForms{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 80vw;
}

.padreCrearEvento{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.textCrearEvento{
  margin-top: 6vh;
  margin-bottom: 6vh;
}

#form1{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  border-radius: 20px;
  margin-right: 2.5vw;
  height: 50vh;
}
#form2{
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  border-radius: 20px;
  margin-left: 2.5vw;
  height: 50vh;
}

.textoFormu{
  color: #1e1e1e;
  margin-bottom: 1vh;
  font-weight: 700;
  font-size: large;
}

.bodyCrearEvento{
  background-color: #f4f4f4;
}

.creaTuEvento{
  color: #242424;
  font-size: 15vh;
  font-weight: bolder;
}

.inputCrearEvento{
  background-color: rgb(186, 186, 186);
  border-radius: 10px;
  width: 100%;
  border-color: none;
  border: none;
  height: 4.3vh;
  transition: ease-in-out;
}

.inputCrearEvento:focus-within{
  height: 6.3vh;
  transition: ease-in-out;
}

.formu{
height: 100%;
width: 42vw;
display: flex;
align-items: center;
justify-content: space-between;
}

.textCrearEvento{
  display: flex;
  flex-direction: row;
}

.descripcion{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4vh;
}

.indexBody{
  background-image: url("../images/fondoo.png");
  width: 100vw;
  height: 92vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
}

.creaTuEventoo{
  color: rgb(46, 202, 90);
  font-size: 15vh;
  font-weight: bolder;
  margin-left: 3.5vh;
  border-bottom: rgb(46, 202,90);
  text-decoration: underline;
}

#aaa:hover{
  color: rgb(45, 212, 39);
  transition: ease-in-out;
}

@media (max-width: 768px) {
  .ingresoForm{
    width: 80vw;
  }
  .navbarLeft{
    margin-left: 3vh;
  }
  .dropdown-center{
    margin-right: 9vh;
    border-radius: 15px;
  }

  #carouselExampleAutoplaying{
    width: 80vw;
    height: 45vh;
  }
}

.centrarCaro{
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 0;

}

.featuresBody{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contenedorFeatures{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 17vh;
  background-color: rgb(32, 32, 32);
  margin-bottom: 2vh;
  border-radius: 15px;
  transition: ease-in-out 0.2s;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.contenedorFeatures:hover{
  width: 85vw;
  height: 20vh;
  transition: all 0.5s ease;
}

.fotoFeat{
  width:9vw;
  height: 4vh;
  background-color: rgb(40, 246, 54);
  padding: 0.5vh;
  border-radius: 12px;
}

.contenedorArriba{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 20%;
}

.tituloFeat{
  font-size: 3vh;
  color: #ffffff;
}

.textoFeat{
  width: 85%;
  color: #ffffff;
  margin-top: 2vh;
}

.textoFeatures{
  margin: 4vh;
  font-size: 4vh;
  font-weight: 600;
}