header{
  background-color: rgb(31, 31, 31);
}

body{
  margin:0;
  background-color: #f6f6f6;
}

.navbarLeft{
  margin-left: 7vh;
}

nav{
  display: flex;
  justify-content: space-between;
  height: 8vh;
  align-items: center;
  box-shadow: 10px;
  width: 100vw;
}

.logoheader{
  max-width: 100px;
  max-height: 50px;
  display: flex;
  margin-left: 10px;
}



.navButton{
  text-decoration: none;
  color: #d7d7d7;
  margin-left: 10px;
  margin-right: 20px;
  font-weight: bold;
  transition: ease-in-out;
}

.navButton:hover{
  color: rgb(255, 255, 255);
}

.catPopu1{
  height: 250px;
  width: 250px;
  background-image: url('../images/fiesta.jpg');
  background-size: cover;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.catPopu1:hover{
  height: 265px;
  width: 265px;
}

.catPopu2{
  height: 250px;
  width: 250px;
  background-image: url('../images/deportes.png');
  background-size: cover;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.catPopu2:hover{
  height: 265px;
  width: 265px;
}

.catPopu3{
  height: 250px;
  width: 250px;
  background-image: url('../images/conferencia.png');
  background-size: cover;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.catPopu3:hover{
  height: 265px;
  width: 265px;
}

.catPopu4{
  height: 250px;
  width: 250px;
  background-image: url('../images/concierto.png');
  background-size: cover;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.catPopu4:hover{
  height: 265px;
  width: 265px;
}

.subContenedorCatPopu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 83%;
}

.contenedorCatPopu{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.cat{
  color: #ffffff;
  margin: 20px;
}

.textoCatPopu{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 83%;
}

.linkCat{
  text-decoration: none;
}

.registroDiv{
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.mainRegistro{
  display: flex;
  align-items: start;
  justify-content: center;
  width: 100%;
  margin-top: 3vh;
  margin-left: 2vh;
  margin-right: 2vh;
}

.creaTuCuenta{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 0;
}

.crea{
  font-weight: bold;
  font-size: 300%;
}

.bodyRegistro{
  display: flex;
  align-items: center;
  justify-content: center;
}

.registroForm{
  width: 100%;
}

.textoRegistro{
  margin-bottom: 0;
  font-size: x-large;
}

.contenedorRegistro{
  margin-top: 3vh;
  margin-bottom: 3vh;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.input{
  width: 100%;
  height: 4vh;
  border-radius: 10px;
  border: none;
  background-color: rgb(217, 217, 217);
  font-size: larger;
}

.submit{
  width: 100%;
  height: 5vh;
  font-weight: bold;
  background-color: #3b3b3b;
  color: #ffffff;
  border-radius:10px;
  border: none;
  margin-top: 2vh;
}

.recorda{
  text-align: center;
  margin-top: 2vh;
  width: 100%;
}

.yaTenes{
  text-align: center;
  margin-top: 1vh;
  width: 100%;
}

.linkkk{
  text-decoration: none;
  outline: none;
}

.ingresaATuCuenta{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 0;
}

.ingresa{
  font-weight: bold;
  font-size: 300%;
}

.bodyIngreso{
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainIngreso{
  display: flex;
  align-items: start;
  justify-content: center;
  width: 100%;
  margin-top: 3vh;
  margin-left: 2vh;
  margin-right: 2vh;
}

.ingresoForm{
  width: 40vw;
}

.contenedorIngreso{
  margin-top: 3vh;
  margin-bottom: 3vh;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.textoIngreso{
  margin-bottom: 0;
  font-size: x-large;
}

.ingresoDiv{
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.dropdown-center{
  margin-right: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.btn-secondary{
  border-radius: 20px;
  background-color: #3b3b3b;
}

.rekorda{
  font-size: larger;
}

.rekordame{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

#rememberMe{
    width: 25px;
    height: 25px;
    margin-left: 2vh;
}

.dosForms{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 80vw;
}

.padreCrearEvento{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.textCrearEvento{
  margin-top: 6vh;
  margin-bottom: 6vh;
}

#form1{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  border-radius: 20px;
  margin-right: 2.5vw;
  height: 50vh;
}
#form2{
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  border-radius: 20px;
  margin-left: 2.5vw;
  height: 50vh;
}

.textoFormu{
  color: #1e1e1e;
  margin-bottom: 1vh;
  font-weight: 700;
  font-size: large;
}

.bodyCrearEvento{
  background-color: #f4f4f4;
}

.creaTuEvento{
  color: #242424;
  font-size: 15vh;
  font-weight: bolder;
}

.inputCrearEvento{
  background-color: rgb(186, 186, 186);
  border-radius: 10px;
  width: 100%;
  border-color: none;
  border: none;
  height: 4.3vh;
  transition: ease-in-out;
}

.inputCrearEvento:focus-within{
  height: 6.3vh;
  transition: ease-in-out;
}

.formu{
height: 100%;
width: 42vw;
display: flex;
align-items: center;
justify-content: space-between;
}

.textCrearEvento{
  display: flex;
  flex-direction: row;
}

.creaTuEventoo{
  color: rgb(46, 202, 90);
  font-size: 15vh;
  font-weight: bolder;
  margin-left: 3.5vh;
  border-bottom: rgb(46, 202,90);
  text-decoration: underline;
}

#aaa:hover{
  color: rgb(45, 212, 39);
  transition: ease-in-out;
}

@media (max-width: 768px) {
  .ingresoForm{
    width: 80vw;
  }
  .navbarLeft{
    margin-left: 3vh;
  }
  .dropdown-center{
    margin-right: 9vh;
    border-radius: 15px;
  }

  #carouselExampleAutoplaying{
    width: 80vw;
    height: 45vh;
  }
}

.centrarCaro{
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 0;

}

.moof-bar {
  width: 100vw;
  height: 5vh;
  overflow: hidden;
  white-space: nowrap;
  background-color: #242424;
}

.moof {
  display: inline-block;
  height: 4vh;
  margin-right: 5px;
  animation: moof-animation 5s linear infinite backwards;
  color: #f4f4f4;
  font-weight: bolder;
  font-size: large;
  margin-bottom: 2px;
  margin-top: 2px;
}

@keyframes moof-animation {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.eventosDestacados {
  width: 100vw;
  height: 5vh;
  overflow: hidden;
  white-space: nowrap;
  background-color: rgb(36, 36, 36);
}

.eventosDesta {
  display: inline-block;
  height: 100%;
  margin-right: 5px;
  animation: eventosDesta-animation 5s linear infinite forwards;
  color: #f4f4f4;
  font-weight: 200;
  font-size: 3vh;
  margin-bottom: 2px;
  margin-top: 2px;
}

@keyframes eventosDesta-animation {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}